* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

h1 {
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: 4;
}

body {
    font-family: sans-serif;
    display: grid;
    justify-content: center;
    background-color: linen;
}

.container {
    background-color: crimson;
    border-radius: 10%;
    margin: 50px;
    padding: 20px 50px 50px 50px;
    color: white;
}

.heading {
    color: white;
    border-bottom: 1px solid white;
}

.title {
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 66px;
}

.title span {
    color: #FFC428;
}

.menu {
    padding-top: 50px;
    font-size: 22px;
    color: #FFC428;
}

.next-player {
    text-align: center;
    color: rgb(34, 34, 34);
    font-family: 'courier';
    font-size: 28px;
}

.players-turn {
    color: white;
}

.instructions {
    display: inline-block;
    cursor: pointer;
}

.instructions:hover {
    opacity: 1.5;
    color: white;
    transition: 0.3s ease-in-out;
    transform: translateY(-7px);
}

.reset {
    cursor: pointer;
    float: right;
}

.reset:hover {
    opacity: 1.5;
    color: white;
    transition: 0.3s ease-in-out;
    transform: translateY(-7px);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    color: rgb(39, 39, 39);
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 25px 50px 50px 40px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 25px;
}

.modal ol {
    padding-left: 18px;
    padding-top: 10px;
}

.modal li {
    margin-top: 10px;
}

.modal p {
    margin-top: 20px;
}

.modal-heading {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    padding-top: 32px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    background-color: white;
    margin-top: 50px;
}

.game-cell {
    display: grid;
    justify-content: center;
    align-self: center;
    width: 150px;
    height: 150px;
    background-color: crimson;
    cursor: pointer; 
    padding-bottom: 50px; 
}

.x-winner {
    color: rgb(255, 196, 40);
}

/* ::before selector inserts something before the content of each selected element */
.x::before {
    content: '✖';
    font-size: 130px; 
    color: #FFC428;
}

.o::before {
    content: '✪';
    font-size: 130px; 
}
